<div class="consultant-container">
  <h2>Consultants</h2>

  <button mat-raised-button color="primary" (click)="goToCreateConsultant()" routerLink="/create-consultant" routerLinkActive="active">
    + Add Consultant
  </button>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let consultant"> {{ consultant.name }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="specialization">
      <th mat-header-cell *matHeaderCellDef> Specialization </th>
      <td mat-cell *matCellDef="let consultant"> {{ consultant.specialization }} </td>
    </ng-container>

    <!-- Consultations Count Column -->
    <ng-container matColumnDef="consultations">
      <th mat-header-cell *matHeaderCellDef> Consultations </th>
      <td mat-cell *matCellDef="let consultant"> {{ consultant.consultationCount }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
