<body>
<div class="calendar">
  <div class="calendar-sticky-header">
    <div class="controls">
      <button mat-flat-button class="custom-button" (click)="navigate('prev')">Previous</button>
      <button mat-flat-button class="custom-button" (click)="toggleView('day')">Day View</button>
      <button mat-flat-button class="custom-button" (click)="toggleView('week')">Week View</button>
      <button mat-flat-button class="custom-button" (click)="navigate('next')">Next</button>
    </div>

    <div class="calendar-header">
      <div *ngIf="currentView === 'day'">
        <h2>{{ format(currentDate, 'MMMM yyyy') }}</h2>
        <h3>{{ format(currentDate, 'EEEE, MMMM dd, yyyy') }}</h3>
      </div>

      <div *ngIf="currentView === 'week'">
        <h2>{{ weekHeader() }}</h2>
      </div>

    </div>
  </div>
  <!-- Day View -->
  <div class="scrollable-area">
    <div *ngIf="currentView === 'day'" class="day-view">
      <div *ngFor="let slot of objectKeys(availableSlots); let i = index"
           class="slot"
           (click)="toggleSlot(slot, null)"
           [ngClass]="getSlotClass(slot, null, null)">
        <!--           [ngClass]="getSlotClass(slot, null, null)">-->
        <div>
          {{ slot }}
        </div>

        <div>
          <span *ngIf="availableSlots[slot] as reservation">
          {{ reservation.genre }}
        </span>

        </div>
      </div>
    </div>

    <!-- Week View -->
    <div *ngIf="currentView === 'week'" class="week-view">
      <div *ngFor="let day of dayWeekSlots">
        <div class="day">
          <h4>{{ format(day[0], 'eee, MMM dd') }}</h4>
          <div *ngFor="let slot of day[1][1] | keyvalue" class="slot"
               [ngClass]="getSlotClass(slot.key, slot.value, day[0])">
            <div *ngIf="slot.value" (click)="toggleSlot(slot.key, slot.value)">
              <div>
                {{ slot.key }}
              </div>

              <div>
                <!--              <span *ngIf="slot.value">-->
                <!--                                {{  }}-->
                <!--              </span>-->
              </div>
            </div>

            <div *ngIf="!slot.value">
              <div>
                {{ slot.key }}
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
</body>
