.calendar {
  text-align: center;
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px); /* Full viewport height minus margin */
  justify-content: center;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.calendar-header {
  margin-bottom: 20px;
}

.day-view {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  /*justify-content: center;*/
}

.week-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}

.day, .week-view div {
  border-radius: 5px;
  width: 100%;
}


.day {
  flex: 1 0 12%; /* Each day will take 14% of the container's width */
  /*margin: 20px; !* Add space between days *!*/
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.day-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.slot {
  width: 100%;
  height: 100px;
  /*padding: 10px;*/
  /*margin: 5px 0;*/
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slot:hover {
  opacity: 0.7;
}

/*slot categories*/

.canceled {
  background-color: #F94144;
  color: white;
  border: 1px solid #F94144;
}

.available {
  background-color: #f7f5fb;
  color: #333;
  border: 1px solid #ccc;
}

.first-visit {
  background-color: #90BE6D;
  border: 1px solid #90BE6D;
}

.control-visit {
  background-color: #F9C74F;
  border: 1px solid #F9C74F;
}

.prescription {
  background-color: #4D908E;
  border: 1px solid #4D908E;
}

.chronic-disease {
  background-color: #F8961E;
  border: 1px solid #F8961E;
}

.past {
  opacity: 0.2;
}

.present {
  border: 1px solid red;
}

/**/

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}


.calendar-sticky-header {
  position: sticky;
  top: 0;
  background-color: white; /* Ensure it covers content while scrolling */
  z-index: 10; /* Make sure it stays above the scrollable content */
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); !* Optional: Add a shadow for separation *!*/
}

.scrollable-area {
  flex-grow: 1; /* Allow it to take remaining space */
  overflow-y: auto; /* Enable vertical scrolling */
  /*padding: 10px;*/
  height: 0; /* Necessary for some browsers to make flex-grow work */
  width: 100%;
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-items: center;
}

.custom-button {
  background-color: #4361ee;
}

body {
  height: calc(100vh - 300px);
}


/* Optionally add some colors for visibility */
.item-1 {
  background-color: #ff9999;
}

.item-2 {
  background-color: #99ccff;
}

.item-3 {
  background-color: #99ff99;
}

