mat-toolbar {
  background-color: #4361ee;
  color: white;
}

mat-icon {
  color: white;
}

.custom-button {
  color: white;
}


button{
  color: white;
}


/* Make the container stretch across the whole page */
.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative; /* Ensure the content is positioned relative to the container */

}

/* Sidebar styles */
.sidenav {
  width: 250px;  /* Sidebar width */
  position: fixed; /* Fix the sidebar on the left side of the screen */
  top: 0;
  left: 0;
  height: 100%;
  color: white;
  padding: 10px;
  background-color: #4361ee;  /* Optional: set a background color */
  border-top-right-radius: 0; /* Round only the bottom-right corner */

  display: flex;
  flex-direction: column;  /* Arrange buttons vertically */
  justify-content: flex-start; /* Align items at the top */
}

/* Content area styles */
.mat-sidenav-content {
  flex: 1;
}

/* Toolbar */
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* App title styles */
.app-title {
  font-size: 20px;
  font-weight: bold;
}

/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .sidenav {
    width: 200px; /* Adjust sidebar width for smaller screens */
  }

  .mat-sidenav-content {
    margin-left: 0; /* No margin for smaller screens */
  }
}


.sidenav button {
  color: white;  /* Make the text color white */
  background-color: #4361ee;
  border: 2px solid white;
  text-align: left;
  box-shadow: none;
  width: 100%;


  /*padding: 12px 16px;*/
  align-content: flex-start;
  margin-top: 10px;
}

/* Sidebar button hover effect */
.sidenav button:hover {
  background-color: rgba(255, 255, 255, 0.1);  /* Optional: light hover effect */
}

.sidenav button + button {
  margin-top: 10px;  /* Add space between each button */
}

