<mat-toolbar color="primary">
  <button mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
    <div class="custom-button">
      Home
    </div>
  </button>
  <!--  LOGGED USER-->
  <div *ngIf="userRole !== ''">
    <button mat-button routerLink="/calendar" routerLinkActive="active" class="custom-button">
      <mat-icon>calendar_today</mat-icon>
      <div class="custom-button">
        Calendar
      </div>
    </button>
  </div>

  <div *ngIf="userRole === 'patient'">
    <button mat-button routerLink="/basket" routerLinkActive="active" class="custom-button">
      <mat-icon>shopping_basket</mat-icon>
      <div class="custom-button">
        Basket
      </div>
    </button>
    <button mat-button routerLink="/consultants" routerLinkActive="active" class="custom-button">
      <mat-icon>people_alt</mat-icon>
      <div class="custom-button">
        Consultants
      </div>
    </button>
  </div>

  <div *ngIf="userRole !== ''">
    <!--    LOGOUT   -->
    <button mat-button routerLink="/" routerLinkActive="active" (click)="onLogout()">
      <mat-icon>logout</mat-icon>
      <div class="custom-button">
        Logout
      </div>
    </button>
  </div>

  <!--  GUEST  -->
  <div *ngIf="userRole === ''">
    <button mat-button routerLink="/login" routerLinkActive="active">
      <mat-icon>login</mat-icon>
      <div class="custom-button">
        Login
      </div>
    </button>
    <button mat-button routerLink="/register" routerLinkActive="active">
      <mat-icon>add_curcle</mat-icon>
      <div class="custom-button">
        Register
      </div>
    </button>
  </div>

</mat-toolbar>
{{ userRole }}

<router-outlet></router-outlet>
