<mat-dialog-content>
  <h2 mat-dialog-title> Formularz rejestracji </h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form">
    <p>
      <mat-form-field class="custom-form-input">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="name"/>
        <mat-error *ngIf="form.get('name')">
          Name is required.
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="custom-form-input">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="surname"/>
        <mat-error *ngIf="form.get('surname')">
          Name is required.
        </mat-error>
      </mat-form-field>
    </p>


    <!-- Type of consultation   -->
    <p>
      <mat-form-field>
        <mat-label>Type of consultation</mat-label>
        <mat-select formControlName="genre" required>
          <input matInput formControlName="genre"/>
          <mat-option value="volvo">Volvo</mat-option>
          <mat-option value="saab">Saab</mat-option>
          <mat-option value="mercedes">Mercedes</mat-option>
          <mat-option value="audi">Audi</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('genre')">
          Car is required.
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <input matInput formControlName="gender"/>
        <mat-select formControlName="gender" required>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('gender')">
          Gender is required.
        </mat-error>
      </mat-form-field>
    </p>

    <!-- Integer Number Input -->
    <mat-form-field>
      <mat-label>Enter an age</mat-label>
      <input matInput formControlName="age" type="number" required min="0"/>
      <mat-error *ngIf="form.get('age')">
        Age is required.
      </mat-error>
      <mat-error *ngIf="form.get('age')">
        Age must be a positive integer.
      </mat-error>
      <mat-error *ngIf="form.get('age')">
        Please enter a valid age.
      </mat-error>
    </mat-form-field>

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input matInput formControlName="datePicker" [matDatepickerFilter]="myFilter" [matDatepicker]="datePicker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
    </p>

    <!-- Time Input -->
    <div class="custom-time-form">
      <mat-form-field>
        <mat-label>Choose time slot</mat-label>
        <input matInput formControlName="timeSlot"/>
        <mat-select formControlName="timeSlot" required>
          <mat-option *ngFor="let slot of data.timeSlots" [value]="slot.slot">{{ slot.slot }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>Number of slots</div>

      <mat-form-field>
        <mat-label>Enter a number</mat-label>
        <input matInput formControlName="duration" type="number" required
               [max]="maxNumberValue"/>
        <mat-error *ngIf="form.get('duration')?.hasError('required')">
          Number is required.
        </mat-error>
        <mat-error *ngIf="form.get('duration')?.hasError('min')">
          Number must be a positive integer.
        </mat-error>
        <mat-error *ngIf="form.get('duration')?.hasError('max')">
          Number must be less than or equal to {{ maxNumberValue }}.
        </mat-error>
      </mat-form-field>
    </div>

    <!-- Custom text -->
    <p>
      <mat-form-field class="custom-form-input">
        <mat-label>Message</mat-label>
        <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
        <mat-hint align="start"><strong>Don't disclose personal info</strong></mat-hint>
        <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
      </mat-form-field>
    </p>

    <div mat-dialog-actions>
      <button mat-button (click)="onClose()">Cancel</button>
      <button mat-button [disabled]="form.invalid" type="submit">Submit</button>
    </div>
  </form>
</mat-dialog-content>
