<h1 mat-dialog-title>Slot Details</h1>
<div mat-dialog-content>
  <p>Time: {{ data.time }}</p>
  <p *ngIf="data.reservation">Consultation type: {{ data.reservation.genre }}</p>
<!--  <p *ngIf="data.reservation">Consultant: {{ consultantName }}</p>-->
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button color="warn" *ngIf="data.reservation && !isPast()" (click)="delete()">Cancel Reservation</button>
  <button mat-button color="warn" *ngIf="data.reservation && isPast() && !bannedStatus" (click)="openRatingDialog(data)" >Rate Reservation</button>
</div>
