<h1 mat-dialog-title>Slot Details</h1>
<div mat-dialog-content>
  <p>Time: {{ data.time }}</p>
  <p *ngIf="data.reservation">Reserved for: {{ data.reservation.genre }}</p>
  <p *ngIf="data.reservation">Reserved for: {{ data.reservation.canceled }}</p>
  <p *ngIf="!data.reservation">This slot is available.</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
  <button mat-button color="warn" *ngIf="data.reservation && !isPast()" (click)="delete()">Cancel Reservation</button>
</div>
