<div class="accordion-container">
  <h2 class="section-header">List of Available Consultants</h2>

  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel *ngFor="let consultant of consultants" class="consultant-panel">

      <mat-expansion-panel-header>
<!--        <mat-icon class="consultant-icon">account_circle</mat-icon>-->
        <mat-panel-title>
          <strong class="consultant-name">{{ consultant.name }}</strong>
        </mat-panel-title>
        <mat-panel-description class="consultant-specialization">
          {{ consultant.specialization }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="consultant-panel-content">
        <mat-divider></mat-divider>
        <div *ngFor="let consultation of filterConsultations(consultant.id)">
          <mat-card class="consultation-card">
            <mat-card-header>
              <mat-card-title><strong>{{ consultation.name }}</strong></mat-card-title>
            </mat-card-header>

            <mat-card-content>
              <p><strong>Price: {{ consultation.price | currency }}</strong> </p>
            </mat-card-content>

            <mat-card-actions>
              <button mat-button (click)="openDialog(consultation)">Enroll</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
