/* Container for the accordion and header */
.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: #f5f5f5; !* Light gray background for the accordion section *!*/
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  max-width: 2000px;
  width: 100%;
  margin: 20px auto; /* Center the accordion horizontally on the page */
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); !* Subtle shadow for depth *!*/
}

/* Header for the section */
.section-header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Consultant panel header styling */
.consultant-icon {
  font-size: 20px; /* Increase icon size */
  /*margin-right: 10px; !* Space between icon and text *!*/
}

.consultant-name {
  font-size: 30px; /* Make the consultant's name larger */
  font-weight: bold;
}

.consultant-specialization {
  font-size: 16px; /* Make specialization smaller than the name */
  color: #777; /* Subtle color for specialization */
}

/* Rest of the layout styles */
.example-headers-align {
  display: flex;
  justify-content: center; /* Centers the accordion horizontally */
  align-items: flex-start; /* Align items to the top */
  flex-direction: column;
  margin: 20px auto; /* Center the accordion and add top/bottom margin */
  padding: 10px; /* Padding to avoid touching the edges */
  max-width: 1500px; /* Optionally, set max-width for the entire accordion */
  width: 100%; /* Allow the accordion to scale within the max-width */
}

.consultant-panel {
  margin-bottom: 15px;
  max-width: 1000px; /* Set max width for the individual panels */
  width: 100%; /* Allow it to adjust to the container size but with max-width */
  margin-left: auto;
  margin-right: auto; /* Center the panel horizontally */
}

.consultant-panel-content {
  padding: 10px;
}

.consultation-card {
  margin-bottom: 15px;
  padding: 10px;
  max-width: 400px; /* Set a narrower width for the card */
  width: 100%; /* Allow it to adjust to the container size but with max-width constraint */
  margin-left: auto; /* Center the card horizontally */
  margin-right: auto; /* Center the card horizontally */
}

mat-card-header {
  background-color: #f5f5f5;
}

mat-card-title {
  font-weight: bold;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

mat-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-panel-title{
  height: 100px;
}
